# Ignore IDE-specific files
.vscode/
.idea/
*.swp

# Repos
OpenCV/
ORB_SLAM3/
Pangolin/
ROS2/

# Datasets
Datasets/

# Camera Calibration
CameraCalibration/

# Evalutation
evaluation/

# Tests
tests/
